/*--index.html--*/

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  text-align: center;

  padding: 20px;
}

.logo-home {
  width: 300px;
  margin-bottom: 30px;
}

.botao {
  margin-top: 30px;

  background-color: #2f5e2f;

  color: white;

  padding: 12px 24px;

  border-radius: 8px;

  text-decoration: none;
}


/*--lc-concessao --*/


html {
    background-color: #FFFFFF;
}

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 14px;
}

h4 {
    text-align: center;
    padding: 20px;
}
.cabecalho {
    position: relative;
    height: 180px;
    text-align: center;
    padding: 15px;
    margin-top: 0;
    
}

.logo img {
  width: 350px;
  text-align: center;
}

header img {
    position: relative;
}

.menu {
  position: absolute;
  top: 70px;
  right: 20px;
  margin-left: auto;
}

.dropbtn {
  background-color: #2f5e2f;
  border: none;
  color:#ffffff;
  width: 100%;
  padding: 10px 16px;
  border-radius: 12px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;

  position: absolute;

  background-color: white;

  min-width: 220px;

  box-shadow: 0 4px 8px rgb(143, 188, 143);

  border-radius: 8px;

  overflow: hidden;
}

.dropdown-content a {
  color: black;
  font-size: 12px;
  padding: 12px 16px;
  text-decoration: none;
  display:flex;
}

.dropdown-content a:hover {
  background-color: #dfeedd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.tramitacao {
    padding-bottom: 30px;
}

.tabela {
    width: 60%;
    height: 120px;
    justify-self: center;

}

.titulo {
    text-align: center;
    font-size: 1.2em;
}

table, th, td {
    
    border: 2px double black;
    border-collapse: collapse;
    padding: 12px;
}

.tramitacao input {
  border: none;
  background: transparent;
  height: 30px;
  width: 100%;
  border-radius: 12px;
}

#data-emissao {
    border: none;
    outline: none;
}

.texto {
    text-align:justify;
    padding-top: 20px;
}

.texto input {
    border: none;
    background: transparent;
    font-size: 14px;
    border-radius: 12px;
}


select {
    border-radius: 10px;
    font-size: 14px;
}

.campo-inline {
  display: inline-block;
  min-width: 120px;
  max-width: 100%;
  border: 1px solid transparent;
  padding: 2px 4px;
  color: #000;
  outline: none;
  white-space: pre-wrap;
}

.campo-inline:focus {
  border: 2px solid #000;
  border-radius: 12px;
}

.campo-grande {
  display: inline-block;
  min-width: 120px;
  border: 1px solid transparent;
  color: #000;
  padding: 2px 4px;
  outline: none;
  white-space: pre-wrap;
}

.campo-grande:focus {
    border: 2px solid #000;
    border-radius: 12px;
}

.input-numero {
  width: 55px;
  text-align: center;

}
    
   #cargatotal, #cargasem, #dias {
    width: 55px;
    border-radius: 10px;
    text-align: center;
}

blockquote {
    margin: 16px 0 16px 32px;
    padding: 30px;
    font-style: italic;
    font-size: 12px;
}

blockquote p {
  margin-bottom: 12px;
  text-align: justify;
  line-height: 1.5;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
 

.button-pdf {
    font-weight: bolder;
    background-color: #2f5e2f;
    width: 120px;
    padding: 10px;
    margin-bottom: 30px;
    color: #ffffff;
    border: none;
    border-radius: 12px;
}

.rodape {
     display: flex;
     justify-content: space-between;
     margin-bottom: 0;
     align-items: center;
     border-top: 1px solid #ccc;
     padding-top: 20px;
}

.rodape img {
  width: 150px;
  margin-bottom: 10px;
}

.logoifc {
    justify-content: left;
    width: 180px;
    max-width: 100%;
    margin-left: 10px;
}

.endereco {
  width: 220px;
  margin-left: auto;
  text-align: right;
  max-width: 100%;
  margin-right: 10px;
}


/*--@media--*/

@media print {

  .button-pdf {
    display: none;
  }

}

@page {
  margin: 2cm;
}

@media print {

  body {
    background: white;
  }

}

@media print {

  .menu {
    display: none;
  }

}



@media print {

  footer {
 
    bottom: 0;

    width: 100%;

    margin-top: 30px;

    padding-bottom: 0;
  }

}